#header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 30px
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 10px;
}

nav {
 display: flex;
 align-items: center;
}

a {
  color: black;
  margin: 10px;
}

.pics {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main {
  border: 100% solid black;
  display: inline-flex;
}

.large {
  width: 630px;
  margin: 30px 15px;
}

.stories {
  /*
  flex-wrap: wrap
  This will cause the columns to stack on top of each other. We don't want that. We want the columns to be side-by-side.
  */

  display: flex;
}

.story1 {
  /*
  justify-content: space-around;
  This rule isn't working for us here because there is no extra space in our story1 div! If the div had extra space because
  of a very large width or height, then this rule would come into play.
  */
  width: 50%;
  flex-direction: column;
  display: flex;
}

.story2 {
  /*
  justify-content: space-around;
  See the comment above in story1
  */

  width: 50%;
  display: flex;
  flex-direction: column;

}

#mother {
  font-size: 40px;
  color: white;
}

.phish {
  justify-content: flex-start;
  height: 250px;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');

}

.monument {
  align-items: center;
}

.orca {
  text-align: center;
  margin-right: 15px;
}

.backwards {
  height: 250px;
  text-align: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  margin-right: 15px;
}

.burger {
  margin-left: 15px;
  text-align: center;
}

.cameras {
  height: 250px;
  margin-left: 15px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
  text-align: center;
}

.medium {

  width: 300px;
  margin: 30px 15px;
}

.fbi {

  align-items: center;
}

.cats {
  justify-content: center;

  height: 250px;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
  text-align: center;
}

.brooklyn {

  align-items: center;
  text-align: center;
}
.small {

  width: 240px;

  flex-direction: column;
}

.cookie {

  align-items: center;
  width: 100%;
}

.emoji {
  align-items: center;
}

.new {
  font-size: 16px;
  font-weight: bold;
  align-items: center;
}

.bites {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray
}

 .bites p {
    border-bottom: 1px solid black;
    height: 100%;
    padding: 10px;
    margin: 0;
}

.footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 350px;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#my {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.line {
  color: white;
  margin: 15px;
}

.foot {

}
