#header {
font-family: Verdana;
font-size: 14px;
font-weight: bold;
color: MediumAquamarine;
display: flex;
border-bottom: 2px solid black;
width: 100%;
margin-bottom: 30px
}
.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 10px;
}

nav {
 display: flex;
 align-items: center;
}

a {
  color: black;
  margin: 10px;
}

.pics {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main {
  border: 2px solid black;
  display: inline-flex;
}

.large {
  border: 2px solid black;
  width: 630px;
  margin: 30px 15px;
}

.phish {
  justify-content: flex-start;
  height: 250px;
  border: 2px solid black;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
}

.monument {
  border: 2px solid black;
  align-items: center;
}

.orca {
  border: 2px solid black;
  align-items: center;
}

.backwards {
  justify-content: center;
  height: 250px;
  border: 2px solid black;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
}

.burger {
  border: 2px solid black;
  align-items: center;
}

.cameras {
  justify-content: center;
  height: 250px;
  border: 2px solid black;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
}

.medium {
  border: 2px solid black;
  width: 300px;
  margin: 30px 15px;
}

.fbi {
  border: 2px solid black;
  align-items: center;
}

.cats {
  justify-content: center;
  border: 2px solid black;
  height: 250px;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
}

.brooklyn {
  border: 2px solid black;
  align-items: center;
}
.small {
  border: 2px solid black;
  width: 240px;
  margin: 30px 15px;
}

.cookie {
  border: 2px solid black;
  align-items: center;
}

.emoji {
  border: 2px solid black;
  align-items: center;
}
